<%= form_for @user_application, url: {action: 'confirm'} do |f| %>
  <% @staffs = Staff.select(:id, :name).distinct %>
  <% if @user_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_application.errors.count, "error") %> prohibited this user_application from being saved:</h2>

      <ul>
      <% @user_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pref %><br>
    <%= f.text_field :pref %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :town %><br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :tel %><br>
    <%= f.telephone_field :tel %>
  </div>
  <div class="field">
    <%= f.label :participant_num %><br>
    <%= f.number_field :participant_num, min: 1, max: 100 %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.collection_select :staff_id, @staffs, :id, :name, :prompt => "選択してください" %>
<%
=begin
%>
    <select name="user_application[staff_id]">
      <% @staffs.each do |staff| %>
      <option value = <%= staff.id %>>
        <%= staff.name %>
      </option>
    <% end %>
    </select>
<%
=end
%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
