<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_application.name %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @user_application.pref %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_application.city %>
</p>

<p>
  <strong>Town:</strong>
  <%= @user_application.town %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user_application.tel %>
</p>

<p>
  <strong>Participant num:</strong>
  <%= @user_application.participant_num %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @user_application.staff.name %>
</p>

<%= link_to 'Edit', edit_user_application_path(@user_application) %> |
<%= link_to 'Back', user_applications_path %>
